:root {
  --main-bg-color: #000;
  --main-fg-color: #68c900;
  --main-text-color: #b9b9b9;
  --link-color: #f7d8ff;
  --green-100: #beff82;
  --green-300: #8fff26;
  --green-500: #68c900;
  --green-700: #009a44;
  --green-900: #005625;
  --blue-black-300: #5fd9f4;
  --blue-black-500: #469bae;
  --blue-black-700: #2f6875;
  --blue-black-900: #00242c;
  --black-1000: #000;
  --black-900: #161616;
  --black-950: #090909;
  --black-800: #292929;
  --main-bg-color-1: #0a0a0a;
  --main-bg-color-2: #312433;
  --box-shadow-1: rgba(95,72,106,0.112);
  --box-shadow-2: rgba(28,0,33,0.328);
  --scroll-color-1: rgba(0,140,234,0.285);
  --scroll-color-2: rgba(171,55,254,0.408);
  --scroll-bg: #000;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url("../font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}
body {
  margin: 0;
  color: #be0000;
  display: flex;
  background: linear-gradient(-45deg, var(--main-bg-color-1), var(--main-bg-color-2));
  justify-content: space-between;
  flex-direction: column;
  font-family: 'JetBrains Mono';
}
code {
  font-family: 'JetBrains Mono';
  border-radius: 3px;
  background: #1a1a1a;
  padding: 3px;
  font-size: 13px;
}
pre:has(code.hljs) {
  padding: 15px;
  border-radius: 9px;
  box-shadow: inset 6px 6px 7px #171717, inset -6px -6px 7px #171717;
}
.hljs {
  background: rgba(26,26,26,0);
}
#menu-outer {
  position: fixed;
  z-index: 10;
  color: #f00;
  background: #f00;
  top: 0;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  height: 37px;
  background-color: rgba(22,22,22,0.509);
  backdrop-filter: blur(5px);
  box-shadow: 9px 9px 18px #121518, -9px -9px 18px #48535e;
}
#main {
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
#aside-outer {
  width: 20%;
}
aside {
  width: 20%;
  background-color: #3c3c3c;
  position: fixed;
  border-radius: 10px;
  overflow-y: scroll;
  top: 40px;
  height: 95%;
  background: rgba(0,0,0,0);
  box-shadow: 9px 9px 18px #121518, -9px -9px 18px #48535e;
}
aside ul {
  margin: 0;
  padding: 0px 5px 5px 20px;
}
aside #tree ul ul {
  display: none;
}
aside ul li {
  list-style: none;
}
aside ul li a {
  color: #999;
  text-decoration: none;
}
aside ul li a:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
aside #tree .active a,
aside #tree .active a:hover {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-color);
}
aside #search {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
/* #################### 文章索引 #################### */
aside #toc a.read {
  color: var(--blue-black-300);
  border-bottom: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
aside #toc a {
  color: var(--green-500);
  border-bottom: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
aside #toc a:hover {
  color: var(--blue-black-300);
  padding-left: 20px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
/* #################### 文章索引 #################### */
.search-input {
  margin: 10px;
  width: 80%;
  border: 0;
  outline: none;
  color: #ccc;
  border-radius: 10px;
  background: var(--main-bg-color);
  box-shadow: inset 6px 6px 11px #171b1e, inset -6px -6px 11px #434d58;
}
#content-outer {
  width: 75%;
  padding-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background: rgba(0,0,0,0);
}
#bottom-outer {
  width: 70%;
  border-top: 1px dashed rgba(255,255,255,0.533);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
}
a {
  color: var(--link-color);
}
img {
  margin: 5px;
  border-radius: 10px;
  background: var(--main-bg-color);
  box-shadow: 5px 5px 5px #20252a, -5px -5px 5px #3a434c;
  max-width: 90%;
}
::-webkit-scrollbar {
  width: 5px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--scroll-bg);
  box-shadow: inset 3px 3px 5px var(--scroll-bg), inset -3px -3px 5px var(--scroll-bg);
}
/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(0deg, var(--scroll-color-1), var(--scroll-color-2));
  box-shadow: 3px 3px 5px #12272c;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
  height: 0;
}
/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: var(--main-bg-color);
}
/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.recent-post-item {
  width: 95%;
  margin-bottom: 30px;
  height: 200px;
  border-radius: 18px;
  background: rgba(0,0,0,0.277);
  box-shadow: 5px 5px 10px var(--box-shadow-1), -5px -5px 10px var(--box-shadow-2);
  display: flex;
  justify-content: flex-start;
}
.recent-post-left {
  width: 400px;
  padding: 20px;
}
.recent-post-img {
  position: relative;
  height: 100%;
}
.recent-post-right {
  padding: 20px;
  width: 100%;
}
.recent-post-title {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  background: var(--main-bg-color);
  box-shadow: 5px 5px 10px #1c2025, -5px -5px 10px #3e4851;
}
.recent-post-time {
  font-size: 13px;
}
.article-digest {
  height: 94px;
  overflow: hidden;
}
#menu-outer {
  display: flex;
  justify-content: flex-end;
}
.menu-button {
  margin-right: 20px;
  display: inline-block inline-block;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
  font-size: 15px;
  border-radius: 0 0 10px 10px;
  background: var(--main-bg-color);
  box-shadow: 5px 5px 10px #1c2025, -5px -5px 10px #3e4851;
}
/* #################### 自适应 #################### */
@media screen and (max-width: 800px) {
  aside {
    width: 0%;
  }
  #content {
    padding-left: 0;
  }
  canvas#live2dcanvas {
    display: none;
  }
}
/*竖屏*/
@media all and (orientation: portrait) {
  #content-outer {
    padding: 0;
  }
}
/* #################### 自适应 #################### */
* {
  box-sizing: border-box;
}
.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  aspect-ratio: 4/5;
  border: 1px solid var(--surface-2);
  isolation: isolate;
  transition: border-color 200ms var(--ease-out);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at bottom left, transparent 55%, var(--surface-1));
  pointer-events: none;
  box-shadow: var(--bg) -0.5cqi 0.5cqi 2.5cqi inset;
  transition: opacity 900ms var(--ease-out);
}
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, var(--bg), transparent 65%);
  opacity: 0;
  transition: opacity 800ms var(--ease-out);
}
.card > * {
  grid-area: card;
}
.card svg {
  position: relative;
  z-index: 1;
  width: 30%;
  height: auto;
  color: var(--surface-3);
  transition: 300ms var(--ease-out);
  transition-property: color, scale;
}
.card button {
  opacity: 0;
}
.card:focus-within {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
.card:where(:hover,
.card :focus-within) {
  border-color: var(--active-color, var(--fg));
  transition: border-color 800ms var(--ease-in-out);
}
.card:where(:hover,
.card :focus-within) svg {
  color: var(--active-color, var(--fg));
  scale: 1.1;
  transition: 300ms var(--ease-in-out);
}
.card:where(:hover,
.card :focus-within)::before {
  opacity: 0;
}
.card:where(:hover,
.card :focus-within)::after {
  opacity: 1;
}
